<div class="jumbotron center-all">
  <div>
    <h1>Welcome to The Frying Dutchman!</h1>
    <p>The Frying Dutchman is is an all-you-can-eat seafood restaurant located in the beautiful state of North Takoma.</p>

    <div class="row">
      <div class="col-sm-6">
        <form action="#" method="POST">
          <input type="hidden" name="num_shrimp" value="5" />
          <table class="table">
            <tr>
              <td><input type="submit" id="order-shrimp-button-id" value="Order Shrimp" name="order"  type="button" class="btn btn-primary btn-block" /></td>
              <td>Orders in queue:</td>
              <td><span id="order-in-queue-id" class="badge"><%= @orders_in_queue %></span></td>              
            </tr>
            <tr>
              <td></td>
              <td>Shrimp in stockroom*:</td>
              <td><span id="shrimp-in-stockroom-id" class="badge"><%= @shrimp_in_stockroom %></span></td>
            </tr>                          
            <tr>
              <td class=btn-block><input type="submit" name="refill" value="Refill Buffet" id="refill-buffet-id" type="button" class="btn btn-primary btn-block" /></td>
              <td>Shrimp in buffet:</td>
              <td><span id="shrimp-in-buffet-id" class="badge"><%= @shrimp_in_buffet %></span></td>
            </tr>
            <tr>
              <td></td>
              <td>Delivery person status:</td>
              <td><span id="delivery-person-status-id" class="badge"><%= @delivery_person_status %></span></td>
            </tr>
            <tr>
              <td></td>
              <td>Javascript?</td>
              <td><span id="javascript-id" class="badge">No :(</span></td>
            </tr>
          </table>
        </form>
      </div>
    </div>    
  </div>
</div>
<container>
  <footer>* Shrimp orders not getting delivered?  Check out the delivery person challenge!
  </footer>
</container>